*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;

}

body{
    width:100%;
    position:relative;
    background: #fff;  
}
:root{
    --gradient: linear-gradient(to right, #e2336b,#fcac46);
}
.sidebar{
    position: fixed;
    width:300px;
    height:100vh;
    background:#fafafa;
    padding: 20px;
   z-index:2px;
}


.logo img{
    width: 140px;

}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;

}

.profile-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height:80px;
    border-radius: 50%;
    border: 2px solid #e2336b;

}

.profile-img img{
    width: 70px;
    height:70px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}

.name{
    display: flex;
    align-items: center;
    margin: 1rem 0 0 0.4rem;

}

.name h2{
    font-size: 1.1rem;
}
.name img{
    margin-left: 4px;
    width:20px;
    object-fit:contain;
}

.profile-img span{
    font-size: 0.938rem;
    font-weight: 400;
}

.about{
    display:flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.box{
    text-align: center;
}

.box h3{
    font-size: 1rem;
    font-weight: 500;
}

.box span{
    font-size: 0.938rem;
    font-weight: 400;
}

.menu a{
    width: 100%;
    font-size: 1rem;
    color: #080808;
    display:flex;
    align-items: center;
    line-height: 40px;
}

.menu a:hover,
.menu .active{
    color:#e2336b;

} 
.menu .icon{
    margin-right: 1rem;
    font-size: 20px;
}

.menu a:hover::before,
.menu .active::before{
    content:'';
    position:absolute;
    right:0;
    width:2px;
    height: 17px;
    background: #e2336b;

}

.main-home{
    position: absolute;
    padding:20px;
    overflow:hidden;
    width:60%;
    top:0;
    min-height: 100vh;
    left:310px;
    background: #fff;
    z-index:10;

}


.search{
    display:flex;
    align-items: center;
    background: #fafafa;
    width:200;
    top:20px;
    height: 2.4rem;
    padding:10px;
    border-radius:10px;
}
.search input{
    border:none;
    outline: none;
    background: transparent;
    margin-left:10px;
}
.search o{
    font-size:20px;
}

.stories-gallery{
    padding:20px;
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;

}

.story{
    flex-basis:18%;
    padding-top:32%;
    position:relative;
    background-position: center;
    background-size: cover;
    border-radius:10px;
}

.story img{
    position:absolute;
    width: 45px;
    height:45px;
    border-radius:50%;
    top:10px;
    left:10px;
    border:1px solid #fff;
}

.story p{
    position:absolute;
    bottom:10px;
    width:100%;
    text-align:center;
    color:#fff;
    font-size: 14px;;
}
.story1{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(https://images.pexels.com/photos/11757303/pexels-photo-11757303.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.story2{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(https://img.freepik.com/free-photo/landscape-shot-beautiful-cholatse-mountains-body-water-khumbu-nepal_181624-24825.jpg?w=900&t=st=1667915241~exp=1667915841~hmac=af820e0bcdf4092b277f176b45987909bd2c297f7a65b85dc49814c5572f6ab8);
}
.story3{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(https://img.freepik.com/free-photo/indian-chicken-biryani-served-terracotta-bowl-with-yogurt-white-background-selective-focus_466689-72554.jpg?w=900&t=st=1667915268~exp=1667915868~hmac=8ab5bfcf438c54d5bb46f83057e8176c598bb7756b65d34f97fed1f1775a9f1b);
}
.story4{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(https://img.freepik.com/free-photo/medium-shot-man-wearing-vr-glasses_23-2149126949.jpg?w=900&t=st=1667915296~exp=1667915896~hmac=4fddad3ac7cd9602eecdef900a152e4bf402691a7484bf9ab8700ca50862103d);
}
.story5{
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)),url(https://img.freepik.com/free-photo/portrait-young-indian-top-manager-t-shirt-tie-crossed-arms-smiling-white-isolated-wall_496169-1513.jpg?w=900&t=st=1667915302~exp=1667915902~hmac=6111604df350d9fd8ae08b3aeab8d6ca54b7cc9a8c33c3dd25ae16d56d536b96);
}

.story .story1 img{
    top:unset;
    left:50%;
    bottom:40px;
    transform:translateX(-50%);
    border:0;
    width:35px;
}
.post-scroll{
    margin-left: 100px;
}
.post{
    width: 80%;
    height: auto;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}

.info{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.info .username{
    width: auto;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.info .options{
    height: 10px;
    cursor: pointer;
}

.info .user{
    display: flex;
    align-items: center;
}

.info .user .profile-pic img {
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius:50%;
    background: none;
}

.info .profile-pic img{
    border: none;
}
.info .options{
    width:20px;
    height:20px;
}
.post-image{
    width: 100%;
    height:500px;
    object-fit: cover;
}

.post-content{
    width: 100%;
    padding: 20px;
}

.likes{
    font-weight: bold;
}

.description{
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
}

.description span{
    font-weight: bold;
    margin-right: 10px;
}

.post-time{
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.comment-wrapper{
    width: 100%;
    height: 50px;
    margin-bottom:20px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    margin-left: 20px;
    height: 50px;
    width:50px;
    border-radius: 50%;
    
}

.comment-box{   
    width: 80%;
    height: 100%;
    border-radius:10px;
    align-items: center;
    margin-left:20px;
    outline: none;
    font-size: 14px;
}

.comment-box input{
    border:none;
    outline: none;
    background: transparent;
    margin-left:40px;
}
.comment-box o{
    font-size:20px;
}

.comment-btn,
.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #e2336b;
    opacity: 0.5;
}

.reaction-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction-wrapper .icon{
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.reaction-wrapper .icon.save{
    margin-left: auto;
}

.post-overlay{
 position:absolute;
 width: 100%;
 height: 500px;
 display:flex;
 justify-content: center;
 align-items: center;
 pointer-events: none;   
}

.like-icon{
    width:200px;
    opacity:0;
    transition:0.5s;
}
 .like-icon .show{
    opacity:1;
    animation:popup 2s forwards 1;

 }

 @keyframs popup{
    0%{
        transform:scale(0);
    }
    20%{
        transform:scale(1.1);
    }
    80%{
        transform:scale(0.9);
    }
    90%{
        transform:scale(0.95);
    }
    100%{
        transform:scale(1);
    }
 }
.right-sidebar{
    display: flex;
    align-items: center;
    margin-left:80%;
    padding:20px;
}
.suggestion-heading{
    margin-top:50px;
}